@charset "UTF-8";

body {
  width: 750px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-weight: bold;
  border-bottom: solid 1px #ccc;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1.0em; }
h6 { font-size: 1em; }

p {
  margin-bottom: 0.25em;
}

pre {
  padding-top: 0.5em;
  box-sizing: border-box;
  border: solid 1px #ccc;
  padding-left: -4em;
  margin-left: 1em;
}

pre.index {
  border: none;
}

blockquote {
  border-left: 1.2px solid #ccc;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
}

blockquote blockquote {
  margin: 0px;
  margin-top: 0.5em;
}

table {
  border-collapse: collapse;
}

table th {
  background-color: #ddd;
}

td, th {
  padding: 3px;
  border: 1px solid #ccc;
}
