@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 { border-bottom: solid 2px black; }
h2 { border-bottom: solid 1px black; }
h3 { border-bottom: solid 1px #bbb; }

pre {
  padding-top: 0.5em;
  box-sizing: border-box;
  background: #efefef;
  padding-left: -4em;
  margin-left: 1em;
}

blockquote {
  border-left: 3px solid #e0e0e0;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.5em;
  margin-left: 0.5em;
}

blockquote blockquote {
  margin: 0px;
  margin-top: 0.5em;
}

table {
  border-collapse: collapse;
}

table th {
  padding: 6px;
  color: #333;
  background-color: #eee;
  border: 1px solid #b9b9b9;
}

table td {
  padding: 6px;
  background-color: #fff;
  border: 1px solid #b9b9b9;
}
